@media only screen and (max-width: 1260px) {
    .container {
        max-width: 970px;
    }
}
@media only screen and (max-width: 991px) {
    .container {
        max-width: 750px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        max-width: 100%;
    }
    .header-innerbox {
        margin:0;
        width:100%;
        max-width:100%;
    }
    .logo img{
        width: 100%;
        max-width: 402px;
        margin-left: auto;
        float:none;
    }
    .header-buttons-container {
        // float: none;
        margin-left:0;
        padding:0;
        max-width:50px;
    }
}
@media only screen and (max-width: 1260px) {
    .sublist li {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 921px) {
    .container-carousel {
        text-align: center;
        // justify-content: center;
        // padding-top: 200px;
        // padding-bottom: 200px;
        
        h1,
        p
        {
            // color:red;
            text-align: center;
        }
       
        a {
        //    display: block;
            text-align: center;
            // margin:auto;
        }
    
    }

}

// @media only screen and (min-width:1260px) {
//     .history-container {
//         width:50%;
//     }
// }