footer {
    background-color: $bgPurple;
    
    padding-top: 50px;
    h4 {
        margin-bottom: 26px;
    }
    p {
        font-size: 0.8em;
        color: white;
        margin-bottom: 26px;
    }
    
}
.social-media {
    
    i {
    color:white;
    
    }
}

.footer-links {
    a:hover {
        text-decoration: underline;
    }
}

.social-button {
    
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    a {
        font-size: 1.6em;
        display: inline-block;
        width:100%;
        height: 100%;
        background-color: darken($bgPurple, 8%);
        padding-top: 5px;

    }
    
    

}
.social-media :nth-child(1){
    :hover {
        background-color: #3b5998;
    }
}
.social-media :nth-child(2){
    :hover {
        background-color: #1da1f2;
    }
}
.social-media :nth-child(3){
    :hover {
        background-color:#0077b5;
    }
}


/*ACCREDITATIONS-ACCREDITATIONS-ACCREDITATIONS-ACCREDITATIONS-ACCREDITATIONS-*/


.accreditations {
    background: white;
}

.accreditations-container {
    display: flex;
    flex-wrap: no-wrap;
    
    padding-top: 30px;
    padding-bottom: 30px;
    div {
        display: inline-block;
        width: 14.5%;
        margin: auto;
        opacity: 0.8;
        filter:grayscale(1);
        transition: all .1s ease-in;

        &:nth-of-type(1) {
            margin-top:10px;
            margin-left: 0;
        }
        &:nth-of-type(2) {
            width: 5%;
            margin-top:-5px;
        }
        &:nth-of-type(4) {
            margin-right: 0;
        }
        img {
            display: block;
            margin:auto;
            width: 100%;          
        }

        &:hover {
            opacity: 1;
            filter:grayscale(0);
        }
    }
}
