.header-innerbox {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo img{
    // width:100%;
    // margin: 20px 0;
}

.header-buttons {
    float: right;
    display: flex;
    flex-direction: row;
}

.btn-support {
    margin: auto 0;
    padding: 10px;
    background: $priBlue;
    &-text {
        font-size: 1.15em;
        padding-left: 0.4em;
        // text-align: center;
        text-transform: uppercase;
        color:white;
    }
    &:hover {
        background: darken($priBlue, 10%);
    }
}

.btn-contact {
    margin: auto 20px;
    padding: 10px;
    background: #999aa2;
    &-text {
        font-size: 1.15em;
        padding-left: 0.4em;
        text-align: start;
        text-transform: uppercase;
        color:white;
    }
    &:hover {
        background: darken(#999aa2, 10%);
    }
}
.icon-mouse {
    color: white;
    padding-top: 10px;
    float:left;
    margin-top:-5px;
    // display:block;
    // background: url("../../img/icons/mouse-icon.png") no-repeat center;
    // background-size: cover;
    // width: 22px;
    // height: 22px;    
    // margin-top:3px;
    // float: left;  
}
.icon-plane {
    // display:block;
    // background: url("../../img/icons/plane-icon.png") no-repeat center;
    // background-size: cover;
    // width: 28px;
    // height: 28px;
    // margin-top:4px;
    float: left;  
    color:white;
    font-size: 1.5em;
    margin-top: 5px;
}


.btn-menu img {
    padding: 0;
    margin: auto;
    box-sizing: unset;
    width: 52px;
    border: $bgPurple 2px solid;
    border-radius: 3px;
    // margin: 20px;
}