* {
    box-sizing: border-box;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    letter-spacing: 0.4px;
    line-height: 2;
}
a,
a:hover {
    color:white;
    text-decoration: none;
}

h1{
    color:white;
    font-size: 3em;
    text-transform: uppercase;
}