/*------------------------------
    Defining base variables 
------------------------------*/

// $fontStack  : ;
// $fontStackSec  : ;


$bgPurple   : rgb(51, 54, 69);

$priLilac   : rgb(146,111,177);
$priBlue    : rgb(65,131,215);
$priRed     : rgb(214,69,65);
$priStilton : rgb(103,128,159);
$priGreen   : rgb(46, 204, 113);
$priPink    : rgb(246, 36, 89);

